.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.icon-btn {
  text-decoration: none;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease
}

.icon-btn:hover {
  color: rgba(0, 0, 0, 0.9);
  transform: translateY(-1px);
}
